/*Title and navbar*/
#Title {
  background-color:#3b3b3b;
  background-size: cover;
  font-family: "Century Gothic";
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
}
#LeafLogo {
  width: 100px;
}
h1 {
  font-size: 30px;
  color: #ffffff;
  padding: 10px;
}
ul.navgreen {
  background-color: #f3fee6;
  margin: 0;
  text-align: center;
}
ul.navgrey {
  background-color: #dfe4e5;
  margin: 0;
  text-align: center;
}
ul.navgreen li {
  display: inline-block;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3b3b3b;
  font-family: "Century Gothic";
  margin: 0px;
}
ul.navgrey li {
  display: inline-block;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3b3b3b;
  font-family: "Century Gothic";
  margin: 0px;
}
ul.navgrey a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-size: 1.5vw;
}
ul.navgreen a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-size: 1.5vw;
}
ul.navgrey a:hover {
  font-weight: bold;
  margin: 0px;
}
ul.navgreen a:hover {
  font-weight: bold;
  margin: 0px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3b3b3b;
  opacity: 0.75;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  width: 15vw;
}
  .navgrey.responsive .dropdown {float: none;}
  .navgrey.responsive .dropdown-content {position: relative;}
  .navgrey.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
}
/*Formatting body style and colours*/
body {
  margin: 0px;
  font-family: sans-serif;
  height: 100%;
  color: #3b3b3b;
}
.bodygrey {
  background-color: #dfe4e5;
}
.bodygreen {
  background-color: #f3fee6;
}
.container {
  padding-top: 1.5vw;
  padding-bottom: 20px;
  padding-left: 18vw;
  padding-right: 18vw;
  text-align: left;
}
.WrapperGrey {
  background-color: #dfe4e5;
  margin: 0;
  padding: 0;
  width: 100%;
}
.WrapperGreen {
  background-color: #f3fee6;
  margin: 0;
  padding: 0;
  width: 100%;
}
/*Formatting the footer*/
footer {
  height: 120px;
  background-color: white;
  font-size: 0.7rem;
  padding-left: 20vw;
}
.footertext {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
hr {
  padding: 0px;
  margin: 0px;
}
#LeafLogoFooter {
  width: 60px;
  padding-right: 18vw;
  padding-top: 15px;
}
/*Video for Home page*/
#AGuideToEvolution {
  width: 60vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Addressing Misconceptions bubbles and hover effect*/
#AddressingMisconceptionsA{
  width: 20vw;
  padding-left: 30px;
  padding-top: 50px;
}
#AddressingMisconceptionsAA{
  width: 20vw;
  padding-left: 30px;
  padding-top: 50px;
}
#AddressingMisconceptionsB{
  width: 25vw;
}
#AddressingMisconceptionsBB{
  width: 25vw;
}
#AddressingMisconceptionsC{
  width: 18vw;
  padding-top: 90px;
}
#AddressingMisconceptionsCC{
  width: 18vw;
  padding-top: 90px;
}
#AddressingMisconceptionsD{
  width: 19vw;
}
#AddressingMisconceptionsDD{
  width: 19vw;
}
#AddressingMisconceptionsE{
  width: 16vw;
  padding-bottom: 60px;
}
#AddressingMisconceptionsEE{
  width: 16vw;
  padding-bottom: 60px;
}
#AddressingMisconceptionsF{
  width: 16vw;
  padding-top: 20px;
}
#AddressingMisconceptionsFF{
  width: 16vw;
  padding-top: 20px;
}
#AddressingMisconceptionsG{
  width: 19vw;
  padding-bottom: 20px;
}
#AddressingMisconceptionsGG{
  width: 19vw;
  padding-bottom: 20px;
}
.imageBox {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.imageBox:hover .overlay{
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}
/*Formattig the lesson plans table*/
table, th, td {
    border: 0px;
    border-collapse: collapse;
    padding: 5px;
}
table#lessons tr td:nth-child(1) {
   text-align: center;
   width: 20vw;
}
table#lessons tr td:nth-child(2) {
   text-align: center;
   width: 20vw;
}
table#lessons {
  background-color: white;
}
table#lessons a:hover{
  text-decoration: none;
}
#Lesson1{
  width: 20vh;
}
#Lesson2{
  width: 20vh;
}
#Lesson3{
  width: 10vh;
}
#Lesson4{
  width: 20vh;
}
td.lesson1cell:hover {
    background-color: #d5ffff;
    text-decoration: none;
}
td.lesson2cell:hover {
    background-color: #d5ffff;
    text-decoration: none;
}
td.lesson3cell:hover {
    background-color: #d5ffff;
    text-decoration: none;
}
td.lesson4cell:hover {
    background-color: #d5ffff;
    text-decoration: none;
}
.sub {
  font-size: 0.8rem;
}
/*Formatting buttons in lesson plans and useful links*/
button {
  width: 100px;
  height: 100px;
  border: 2px solid #3b3b3b;
  border-radius: 20px;
}
.UsefulLinkButton {
  width: 100px;
  height: 100px;
  padding: 30px;
  border: 2px solid #3b3b3b;
  border-radius: 20px;
}
#LessonPlans {
  background-color: #b5ea75;
}
#PowerPointSlides {
  background-color: #ffa6ff;
}
#Other {
  background-color: #a6ffff;
}
#LessonPlans:hover {
  background-color: #d7fca9;
  text-decoration: none;
}
#PowerPointSlides:hover{
  background-color: #ffe5ff;
  text-decoration: none;
}
#Other:hover {
  background-color: #d5ffff;
  text-decoration: none;
}
#LessonPlans a:hover{
  text-decoration: none;
}
#PowerPointSlides a:hover{
  text-decoration: none;
}
#Other a:hover {
  text-decoration: none;
}
table.UsefulLinks {
  border: 0px;
}
/*formatting keywords table*/
table#keywords tr:nth-child(even) {
    background-color: #ffe5ff;
}
table#keywords tr:nth-child(odd) {
    background-color: #ffffff;
}
table#keywords tr td:nth-child(1) {
   text-align: center;
   width: 20%
}
table#keywords tr td:nth-child(2) {
   width: 80%
}
table#keywords th {
    background-color: #b5ea75;
    text-align: center;
}
/*formatting contact form in about page*/
form {
  align: center;
  margin: 10px;
}
input {
  margin: 10px;
}
#Name {
  width: 40vw;
  height: 3vw;
  font-style: sans-serif;
}
#Email {
  width: 40vw;
  height: 3vw;
  font-style: sans-serif;
}
#Message {
  width: 40vw;
  height: 15vw;
  font-style: sans-serif;
}
/*Formatting Pictures and borders on news page*/
#NewsPicturePink {
  height: 200px;
  margin: 10px;
  border: 4px solid;
  border-color: #ffe5ff;
}
#NewsPictureBlue {
  height: 200px;
  margin: 10px;
  border: 4px solid;
  border-color: #d5ffff;
}
.NewsVideo {
  float: left;
}
/*When screen is less than 800px - be resposive*/
@media only screen and (max-width: 800px) {
  ul.navgrey a {
    font-size: 11px;
  }
  ul.navgrey a {
    font-size: 11px;
  }
}
/*When screen is less than 600px - be resposive*/
@media only screen and (max-width: 600px) {
  ul.navgrey li {
    display: table-row;
  }
  ul.navgreen li {
    display: table-row;
  }
  ul.navgrey a {
    font-size: 15px;
  }
  ul.navgreen a {
    font-size: 15px;
  }
  ul.navgrey {
    text-align: left;
    background-color: #3b3b3b;
    opacity: 0.8;
  }
  ul.navgreen {
    text-align: left;
    background-color: #3b3b3b;
    opacity: 0.8;
  }
  .dropdown-content {
    opacity: 1;
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #NewsPicturePink {
    width: 250px;
    height: auto;
    align: center;
  }
  #NewsPictureBlue {
    width: 250px;
    height: auto;
    align: center;
  }
}
